<a href="https://colab.research.google.com/github/Zitharth/Tictactoe/blob/main/tictactoe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
df = pd.read_csv("/content/drive/MyDrive/data/Tictactoe/tic-tac-toe-endgame.csv")
df.head()

  V1 V2 V3 V4 V5 V6 V7 V8 V9       V10
0  x  x  x  x  o  o  x  o  o  positive
1  x  x  x  x  o  o  o  x  o  positive
2  x  x  x  x  o  o  o  o  x  positive
3  x  x  x  x  o  o  o  b  b  positive
4  x  x  x  x  o  o  b  o  b  positive

Encoding the the result with 0 and one

In [6]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

df['V10'] = label_encoder.fit_transform(df['V10'])
  
df['V10'].unique()

array([1, 0])

In [7]:
df.head()

  V1 V2 V3 V4 V5 V6 V7 V8 V9  V10
0  x  x  x  x  o  o  x  o  o    1
1  x  x  x  x  o  o  o  x  o    1
2  x  x  x  x  o  o  o  o  x    1
3  x  x  x  x  o  o  o  b  b    1
4  x  x  x  x  o  o  b  o  b    1

In [51]:
df.shape

(958, 10)

<h3>Conditional Probablility Table</h3>

final[1] -> Total no of wins
<p>final[0] -> Total no of loss</p>

In [24]:
final = df['V10'].value_counts()
final

1    626
0    332
Name: V10, dtype: int64

In [49]:
total = len(df['V10'])
total

958

P(win) and P(loss)

In [53]:
total_no = final[0]/total
total_yes = final[1]/total

In [27]:
cols = df.columns
cols = cols.drop('V10')
lst_win = []
for i in cols:
  a = [0,0,0]
  for j in range(len(df[i])):
    if str(df[i][j]) == 'x' and df['V10'][j] == 1:
      a[0] += 1
    if str(df[i][j]) == 'o' and df['V10'][j] == 1:
      a[1] += 1
    if str(df[i][j]) == 'b' and df['V10'][j] == 1:
      a[2] += 1
  lst_win.append(a)

In [28]:
lst_win

[[295, 189, 142],
 [225, 229, 172],
 [295, 189, 142],
 [225, 229, 172],
 [366, 148, 112],
 [225, 229, 172],
 [295, 189, 142],
 [225, 229, 172],
 [295, 189, 142]]

In [36]:
lst_loss = []
for i in cols:
  a = [0,0,0]
  for j in range(len(df[i])):
    if str(df[i][j]) == 'x' and df['V10'][j] == 0:
      a[0] += 1
    if str(df[i][j]) == 'o' and df['V10'][j] == 0:
      a[1] += 1
    if str(df[i][j]) == 'b' and df['V10'][j] == 0:
      a[2] += 1
  lst_loss.append(a)

In [37]:
lst_loss

[[123, 146, 63],
 [153, 101, 78],
 [123, 146, 63],
 [153, 101, 78],
 [92, 192, 48],
 [153, 101, 78],
 [123, 146, 63],
 [153, 101, 78],
 [123, 146, 63]]

In [38]:
for i in range(len(lst_win)):
  for j in range(3):
    lst_win[i][j] = lst_win[i][j]/final[1]
    lst_loss[i][j] = lst_loss[i][j]/final[0]

In [39]:
lst_win

[[0.4712460063897764, 0.3019169329073482, 0.2268370607028754],
 [0.35942492012779553, 0.365814696485623, 0.2747603833865815],
 [0.4712460063897764, 0.3019169329073482, 0.2268370607028754],
 [0.35942492012779553, 0.365814696485623, 0.2747603833865815],
 [0.5846645367412141, 0.2364217252396166, 0.17891373801916932],
 [0.35942492012779553, 0.365814696485623, 0.2747603833865815],
 [0.4712460063897764, 0.3019169329073482, 0.2268370607028754],
 [0.35942492012779553, 0.365814696485623, 0.2747603833865815],
 [0.4712460063897764, 0.3019169329073482, 0.2268370607028754]]

In [40]:
lst_loss

[[0.3704819277108434, 0.4397590361445783, 0.1897590361445783],
 [0.4608433734939759, 0.3042168674698795, 0.23493975903614459],
 [0.3704819277108434, 0.4397590361445783, 0.1897590361445783],
 [0.4608433734939759, 0.3042168674698795, 0.23493975903614459],
 [0.27710843373493976, 0.5783132530120482, 0.14457831325301204],
 [0.4608433734939759, 0.3042168674698795, 0.23493975903614459],
 [0.3704819277108434, 0.4397590361445783, 0.1897590361445783],
 [0.4608433734939759, 0.3042168674698795, 0.23493975903614459],
 [0.3704819277108434, 0.4397590361445783, 0.1897590361445783]]

In [47]:
for i in range(len(cols)):
  print("V"+str(i+1)+": ")
  print("    win                loss")
  print("x: "+str(lst_win[i][0])+"  "+str(lst_loss[i][0]))
  print("0: "+str(lst_win[i][1])+"  "+str(lst_loss[i][1]))
  print("b: "+str(lst_win[i][2])+"  "+str(lst_loss[i][2]))

V1:
    win                loss
x: 0.4712460063897764  0.3704819277108434
0: 0.3019169329073482  0.4397590361445783
b: 0.2268370607028754  0.1897590361445783
V2:
    win                loss
x: 0.35942492012779553  0.4608433734939759
0: 0.365814696485623  0.3042168674698795
b: 0.2747603833865815  0.23493975903614459
V3:
    win                loss
x: 0.4712460063897764  0.3704819277108434
0: 0.3019169329073482  0.4397590361445783
b: 0.2268370607028754  0.1897590361445783
V4:
    win                loss
x: 0.35942492012779553  0.4608433734939759
0: 0.365814696485623  0.3042168674698795
b: 0.2747603833865815  0.23493975903614459
V5:
    win                loss
x: 0.5846645367412141  0.27710843373493976
0: 0.2364217252396166  0.5783132530120482
b: 0.17891373801916932  0.14457831325301204
V6:
    win                loss
x: 0.35942492012779553  0.4608433734939759
0: 0.365814696485623  0.3042168674698795
b: 0.2747603833865815  0.23493975903614459
V7:
    win                loss
x: 0.4712460063897764  0.3704819277108434
0: 0.3019169329073482  0.4397590361445783
b: 0.2268370607028754  0.1897590361445783
V8:
    win                loss
x: 0.35942492012779553  0.4608433734939759
0: 0.365814696485623  0.3042168674698795
b: 0.2747603833865815  0.23493975903614459
V9:
    win                loss
x: 0.4712460063897764  0.3704819277108434
0: 0.3019169329073482  0.4397590361445783
b: 0.2268370607028754  0.1897590361445783

<h3>Model prediction</h3>

In [74]:
def naive_bayes(a):
  p_yes = []
  p_no = []
  for i in range(len(a)):
    if a[i] == 'x':
      p_yes.append(lst_win[i][0])
      p_no.append(lst_loss[i][0])
    if a[i] == 'o':
      p_yes.append(lst_win[i][1])
      p_no.append(lst_loss[i][1])
    if a[i] == 'b':
      p_yes.append(lst_win[i][2])
      p_no.append(lst_loss[i][2])
  print(p_yes)
  print(p_no)
  yes = total_yes
  no = total_no
  for i in range(len(p_yes)):
    yes = yes*p_yes[i]
    no = no*p_no[i]
  ans = yes/(yes+no)
  print(ans)
  if ans > 0.5:
    return(1)
  else:
    return(0)

In [80]:
condition = ['o','x','x','x','o','o','x','o','o']
prediction = naive_bayes(condition)
print("The predictions is ", prediction)

[0.3019169329073482, 0.35942492012779553, 0.4712460063897764, 0.35942492012779553, 0.2364217252396166, 0.365814696485623, 0.4712460063897764, 0.365814696485623, 0.3019169329073482]
[0.4397590361445783, 0.4608433734939759, 0.3704819277108434, 0.4608433734939759, 0.5783132530120482, 0.3042168674698795, 0.3704819277108434, 0.3042168674698795, 0.4397590361445783]
0.3408259687492182
The predictions is  0