<a href="https://colab.research.google.com/github/Zitharth/Tictactoe/blob/main/tictactoe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/data/Tictactoe/tic-tac-toe-endgame.csv")
df.head()

  V1 V2 V3 V4 V5 V6 V7 V8 V9       V10
0  x  x  x  x  o  o  x  o  o  positive
1  x  x  x  x  o  o  o  x  o  positive
2  x  x  x  x  o  o  o  o  x  positive
3  x  x  x  x  o  o  o  b  b  positive
4  x  x  x  x  o  o  b  o  b  positive

Encoding the the result with 0 and one

In [ ]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

df['V10'] = label_encoder.fit_transform(df['V10'])
  
df['V10'].unique()

array([1, 0])

In [ ]:
df.head()

  V1 V2 V3 V4 V5 V6 V7 V8 V9  V10
0  x  x  x  x  o  o  x  o  o    1
1  x  x  x  x  o  o  o  x  o    1
2  x  x  x  x  o  o  o  o  x    1
3  x  x  x  x  o  o  o  b  b    1
4  x  x  x  x  o  o  b  o  b    1

Separating the classes