In [2]:
import pandas as pd
import numpy as np

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
df = pd.read_csv("/content/drive/MyDrive/data/Tictactoe/tic-tac-toe-endgame.csv")
df.head()

  V1 V2 V3 V4 V5 V6 V7 V8 V9       V10
0  x  x  x  x  o  o  x  o  o  positive
1  x  x  x  x  o  o  o  x  o  positive
2  x  x  x  x  o  o  o  o  x  positive
3  x  x  x  x  o  o  o  b  b  positive
4  x  x  x  x  o  o  b  o  b  positive

Encoding the the result with 0 and one

In [7]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

df['V10'] = label_encoder.fit_transform(df['V10'])
  
df['V10'].unique()

array([1, 0])

In [8]:
df.head()

  V1 V2 V3 V4 V5 V6 V7 V8 V9  V10
0  x  x  x  x  o  o  x  o  o    1
1  x  x  x  x  o  o  o  x  o    1
2  x  x  x  x  o  o  o  o  x    1
3  x  x  x  x  o  o  o  b  b    1
4  x  x  x  x  o  o  b  o  b    1

Conditional Probablility Table

In [25]:
final = df['V10'].value_counts()
final

1    626
0    332
Name: V10, dtype: int64

In [37]:
cols = df.columns
cols.drop('V10')
lst = []
for i in cols:
  grouped_single = df.groupby(i).agg({'V10': ['value_counts']})
  lst.append(grouped_single)

In [38]:
lst

[                V10
        value_counts
 V1 V10
 b  1            142
    0             63
 o  1            189
    0            146
 x  1            295
    0            123,                 V10
        value_counts
 V2 V10
 b  1            172
    0             78
 o  1            229
    0            101
 x  1            225
    0            153,                 V10
        value_counts
 V3 V10
 b  1            142
    0             63
 o  1            189
    0            146
 x  1            295
    0            123,                 V10
        value_counts
 V4 V10
 b  1            172
    0             78
 o  1            229
    0            101
 x  1            225
    0            153,                 V10
        value_counts
 V5 V10
 b  1            112
    0             48
 o  0            192
    1            148
 x  1            366
    0             92,                 V10
        value_counts
 V6 V10
 b  1            172
    0             78
 o  1            229
    0            101
 x  1            225
    0            153,                 V10
        value_counts
 V7 V10
 b  1            142
    0             63
 o  1            189
    0            146
 x  1            295
    0            123,                 V10
        value_counts
 V8 V10
 b  1            172
    0             78
 o  1            229
    0            101
 x  1            225
    0            153,                 V10
        value_counts
 V9 V10
 b  1            142
    0             63
 o  1            189
    0            146
 x  1            295
    0            123,                  V10
         value_counts
 V10 V10
 0   0            332
 1   1            626]